.fb-folder-path {
  span {
    color: #333;
    margin: 0 5px;
    padding: 3px 6px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #999;
    background-color: #eee;
  }
}

.fb-dialog-footer {
  button:not(:last-of-type) {
    margin-right: 2px;
  }
}

.fb-input.fb-invalid + label,
.fb-error-msg {
  color: #e74c3c;
}